*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-spacing: 0; 
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.d-flex{
    display: flex;
}

.header div, .times div, .col div{
    border:1px solid black;
    flex-grow: 1;
    height: 50px;
}

.timetable div{
    flex-grow: 1;
}

.header{
    font-weight: bold;
    background-color: #808080;
}

.times{
    background-color: #ababab;
    font-weight: bold;
}

.header div, .times div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lecture{
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}

.lecture p{
    font-size: small;
}

.small{
    font-size: x-small !important;
    align-self: flex-end;
    margin-top:auto;
}

.staffMeeting{
    height: 100px !important;
    background-color: #808080;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
}

.hours-15{
    height: 150px !important;
}

.hours-2{
    height: 200px !important;
}

.hours-35{
    height: 350px !important;
}